body {
  background-color: #f2f2f2;
  margin: 0;
  align-items: center;
  justify-items: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.buton-calculator {
  display: inline-block;
  font-family: Source Sans Pro;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  height: 30px;
  letter-spacing: 0em;
  text-align: center;
  text-transform: uppercase;
  border-radius: 7px;
  border-width: 0px;
  color: white !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.buton-calculator:hover {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.buton-calculator--blue {
  background: #1eade8;
}

.buton-calculator--blue:hover {
  background: linear-gradient(98deg, #0075ca 0%, #1eade8 100%);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.calculator-outputs {
  display: grid;
  justify-items: center;
  align-items: start;
  grid-auto-rows: min-content;
  margin-top: auto;
  margin-bottom: auto;
}

.calculatorContainer {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 3fr 1fr;
  background-color: white;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
  border-radius: 8px;
  padding: 50px;
  margin-top: 50px;
  width: 100%;
}
.label {
  display: grid;
  grid-auto-flow: column;
}
.slider {
  display: grid;
  justify-items: center;
}

.section-input {
  margin-top: 20px;
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 5px;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "title title"
    "number range";
}

.section-input:first-child {
  margin-top: 0px;
}

.section-input h3 {
  grid-area: title;
  font-family: Source Sans Pro;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #333333;
  margin: 0;
}

.number {
  height: 40px;
  grid-area: number;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 36px;
  color: #333333;
  background: #f2fbff;
  box-shadow: inset 0px -1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  border-width: 0;
  padding-left: 10px;
}

.range {
  grid-area: range;
}

.calculatorContainer input::-webkit-outer-spin-button,
.calculatorContainer input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.calculatorContainer input[type="number"] {
  -moz-appearance: textfield;
}

.calculatorContainer input[type="range"] {
  -webkit-appearance: none;
  margin: 20px 0;
  width: 100%;
}
.calculatorContainer input[type="range"]:focus {
  outline: none;
}
.calculatorContainer input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
}

.range::-webkit-slider-thumb {
  cursor: pointer;
  margin-top: -5px;
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background-image: url("https://dhk.kifli.tech/wp-content/uploads/2020/10/slider_diamond.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.range-wrap {
  width: 100%;
  position: relative;
}
.range-value {
  position: absolute;
  top: -50%;
}
.range-value span {
  width: 150px;
  height: 26px;
  text-align: center;
  background: #333333;
  color: #fff;
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 8px;

  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}
.range-value span:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid #333333;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  margin-top: -1px;
}

.font-bigger {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #333333;
  margin-top: 0px;
}

.font-bigger span,
.font-normal span {
  color: #1eade8;
}

.font-normal {
  font-family: Source Sans Pro;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
}

.button--calculator{
  margin-top: 20px;
}

@media only screen and (max-width: 980px) {
  .calculatorContainer {
    grid-template-columns: 1fr;
    padding: 20px;
  }

  .section-input {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "title"
      "number "
      "range";
  }
  .section-input input {
    margin-bottom: 30px;
    margin-top: 5px;
  }

  .section-input h3 {
    font-size: 18px;
  }

  .font-bigger {
    font-size: 18px;
  }

  .calculator-outputs p {
    margin:10px;
  }
  .range-value span {
    font-size: 12px;
  }
}

   /* A távlasztó tab felső gombjai */
   .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
    height: 50px;
    font-family: Source Sans Pro;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    width: 300px;
    padding-left: 20px;
    margin-right: 20px;
    background: #f2fbff;
    border-radius: 8px 8px 0px 0px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    color: #333333;
  }

  /* Az első gombot eltoljuk a szélétől */
  .tab button:first-child {
    margin-left: 20px;
  }

  /* Az első gombot eltoljuk a szélétől */
  .tab button:hover {
    background-color: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    color: #1eade8;
  }

  /* Létrehozunk egy aktív osztályt a tabnak */
  .tab button.active {
    background-color: #ffffff;
    color: #1eade8;
  }

  /* a tab tartalmát alapból eltüntetjük */
  .tabcontent {
    display: none;
  }

  @media only screen and (max-width: 980px) {
    .tab button {
      width: auto;
      padding-left: 15px;
      margin-right: 15px;
      font-size: 14px;
    }
    .tab button:first-child {
      margin-left: 5px;
    }
  }