.menu-layout {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-areas: "logo menu buttons change";
  padding-left: 50px;
  padding-right: 12px;
  align-self: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  height: 120px;
}

.menu-menus a {
  height: 40px;
}

.menu-circle {
  transition: opacity 0.2s;
  cursor: pointer;
}

circle {
  transition: opacity 0.2s;
}

.menu-circle:hover circle {
  opacity: 1;
  cursor: pointer;
}

.menu-item {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.menu-button {
  display: inline-block;
  padding-left: 30px;
  padding-right: 30px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
  color: white;
  transition: box-shadow 0.2s;
  cursor: pointer;
  text-decoration: none;
}

.menu-button:hover {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.menu-button--blue {
  background: #1eade8;
  margin-right: 22px;
}

.menu-button--blue:hover {
  background: linear-gradient(98deg, #0075ca 0%, #1eade8 100%);
}

.menu-button--green {
  background: #47a16c;
}

.menu-button--green:hover {
  background: linear-gradient(98deg, #10753a 0%, #47a16c 100%);
}

.menu-buttons,
.menu-buttons-change,
.menu-menus {
  justify-self: end;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}

.menu-layout img {
  align-self: center;
  cursor: pointer;
}

.menu-menus {
  justify-self: start;
}

.menu-buttons-change a {
  height: 60px;
}

.menu-dropdown {
  display: none;
  gap: 10px;
  position: absolute;
  top: 100px;
  margin-left: 140px;
  width: 200px;
}

.display {
  display: block;
}

.menu-dropdown-list {
  display: none;
  position: absolute;
  top: 80px;
  width: auto;
  text-align: left;

  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding: 25px;
  font-size: 18px;
  line-height: 40px;
  font-family: Source Sans Pro;
  font-weight: 600;
}
.menu-dropdown-list a {
  height: 40px;
  text-decoration: none;
  color: #333333;
}
.menu-dropdown-list a:hover {
  color: #1eade8;
  cursor: pointer;
}

.menu-dropdown-list:hover {
  display: grid;
}

.felvettem:hover + .menu-dropdown-list {
  display: grid;
}

#desktop-menu-nezet {
  display: none;
}

#mobil-menu-nezet{
  display: grid;
}

@media only screen and (max-width: 980px) {
  #desktop-menu-nezet {
    display: grid;
  }

  #mobil-menu-nezet{
    display: none;
  }

  .menu-button {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
  }
  #nav-hamburger-icon {
    z-index: 50;
    width: 20px;
    height: 20px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }

  #nav-hamburger-icon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: black;
    border-radius: 3px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }

  #nav-hamburger-icon span:nth-child(1) {
    top: 0px;
  }

  #nav-hamburger-icon span:nth-child(2),
  #nav-hamburger-icon span:nth-child(3) {
    top: 6px;
  }

  #nav-hamburger-icon span:nth-child(4) {
    top: 12px;
  }

  #nav-hamburger-icon.open span:nth-child(1) {
    top: 12px;
    width: 0%;
    left: 50%;
    background-color: #333333;
  }

  #nav-hamburger-icon.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #333333;
  }

  #nav-hamburger-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background-color: #333333;
  }

  #nav-hamburger-icon.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
    background-color: #333333;
  }

  .menu-layout {
    display: grid;
    grid-template-columns: 9fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "logo hamburger"
      "gombok akadalymentes"
      "submenu submenu";
    align-self: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    height: auto;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
  }

  .hamburger {
    grid-area: hamburger;
    place-self: center;
  }

  .release {
    height: 100% !important;
  }

  .menu-buttons {
    grid-area: gombok;
  }

  .akadalymentes {
    grid-area: akadalymentes;
    place-self: center;
  }

  .menu-layout .sub-menu {
    background-color: #f2f2f2;
    display: grid;
    grid-auto-flow: row;
    overflow: hidden;
    transition: height 0.5s;
    height: 0px;
  }

  .menu-menus a {
    height: 40px;
  }

  .logo {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-self: center;
  }

  .sub-menu {
    grid-area: submenu;
  }

  .sub-menu a {
    font-size: 18px;
    color: #333333;
    text-decoration: none;
    line-height: 40px;
    font-family: Source Sans Pro;
    font-weight: bold;
    padding-left: 10%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
  }

  .sub-menu .szuloknek {
    background-color: #f2f2f2;
  }

  .sub-menu .felvettem {
    background: #1eade8;
    color: white;
    cursor: pointer;
  }

  .felvettem-almenu {
    display: grid;
    grid-auto-flow: row;
    background: #1eade8;
    color: white;
    height: 0px;
    overflow: hidden;
    transition: height 0.5s;
    height: 0px;
  }

  .felvettem-almenu a {
    background: #1eade8;
    color: white;
    padding-left: 15%;
  }

  .egyebek {
    display: grid;
    grid-auto-flow: row;
  }

  .egyebek a {
    border: none;
  }
  .menu-dropdown {
    margin-left: 60px;
    top: 120px;
  }

  .menu-buttons,
  .menu-buttons-change,
  .menu-menus {
    justify-self: center;
  }
}
